/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AU+SA:wght@100..400&display=swap'); */

@font-face {
    font-family: gil-r;
    src: url(font/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gil-b;
    src: url(font/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gil-m;
    src: url(font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: gil-xb;
    src: url(font/Gilroy-ExtraBold.ttf);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: gil-r;
   font-weight: bold;
}

h1, h2{
    font-family: gil-b;
    color: rgb(65, 65, 65);
}

h3, h4, h5, h6 {
    font-family: gil-m;
    color: rgb(65, 65, 65);
}


p, li::marker {
    color: rgb(65, 65, 65);
    /* font-size: 18px; */
}

html, body {
   width: 100%;
   height: 100%;
   background-color: #ecf0f3;
}

a {
   text-decoration: none;
   color: rgb(29, 29, 29);
}




 /*--------- cover area ---------- */
.cover_area {
    width: 100%;
    height: 300px;
    background-image: url(assets/cover.png);
    background-size: cover;
    background-position: 0% 400%;
    background-attachment: fixed;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main {
    width: 70%;
    position: absolute;
    top: -100px;
    padding-bottom: 50px;
}

.profile_area_main {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.089);
}

.profile_left {
    width: 50%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

.profile_left_img {
    width: 200px;
    /* overflow: hidden; */
    position: relative;

}

.profile_left_img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: -100px;
    border-radius: 10px;
    border:8px solid white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.329);
}

.profile_left_name {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile_left_name h1 {
    font-size: 50px;
    line-height: 40px;
    font-family: gil-xb;
}

.profile_left_social {
    display: flex;
    gap: 20px;
    /* margin-top: 30px; */
}

.social {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s linear;
}

.social i {
    font-size: 25px;
    font-weight: 100;
    transition: all .2s linear;
    color: #7e7e7e;
}

.social:hover {
    transform: translateY(-3px);
    background: crimson;
}

.social:hover i {
    color: white;
}





.profile_right {
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-left: 2px solid rgb(29, 29, 29);
}

.profile_right div {
    width: 230px;
}

.profile_right div p:last-child {
    font-family: gil-m;
}









/* ------------- bio area -------- */

.bio_area {
    width: 100%;
    /* background-color: green; */
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.bio_left {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    position: sticky;
    top: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.089);
}

.btn_color {
    background-color: crimson;
    color: white;
}

.bio_left h1 {
    height: 100px;
    width: 100%;
    font-size: 20px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}



.bio_right {
    width: calc(100% - 230px);
    min-height: 50vh;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.089);
}

.bio_box {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-color: white;
    /* top: 0;
    left: 0; */
    padding: 40px;
}


.bio_sub_head {
    text-transform: uppercase;
    color: crimson;
    letter-spacing: 5px;
}

.bio_head {
    font-size: 35px;
}







/*------ about page ------*/

.about_page {
    z-index: 1;
}

.about_top {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.about_top_left {
    width: 40%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.about_top_left:hover img {
    scale: 1.1;
}

.about_top_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}


.about_top_right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_top_right p {
    line-height: 22px;
}

.designation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.designation h3{
    color: #a7a7a7;
    font-family: gil-r;
    letter-spacing: 1px;
}

.designation h3 span {
    color: crimson;
    margin-right: 15px;
}

.cv_link {
    width: 250px;
    height: 60px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all .3s;
}

.cv_link:hover {
    background: crimson;
    color: white;
    ;transform: translateY(-5px);
}








/* -------- resume page ------- */

.resume_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp_txt {
    margin-bottom: 20px;
}

.job {    
    width: 100%;
    height: fit-content;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
}

.job_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job_role_txt {
    font-family: gil-b;
    margin-top: 10px;
}

.job_top_right {
    height: 50px;
    padding: 0px 15px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.job_top_right h4 {
    color: white;
}

.job_btm h3 {
    margin-bottom: 10px;
}

.job_btm ul{
    margin-left: 20px;
}

.edu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.edu_box {
    width: 48%;
    height: fit-content;    
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.edu_box_left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edu_box_right {
    height: 50px;
    padding: 0px 15px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.edu_box_right h4 {
    color: white;
}




.edu_txt {
    margin: 40px 0 20px 0px;
    text-align: center;
}









.dev_skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skill_box {
    width: 48%;
    display: flex;
    gap: 20px;
}

.skill_box_left {
    width: 50px;
    height: 50px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.skill_box_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.skill_box_right {
    position: relative;
    width: calc(100% - 70px);
}

/* .skill_box_right p {
    position: absolute;
    left: var(--b);
    width: 40px;
    height: 40px;
    background-color: crimson;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} */

.skill_bar {
    width:100%;
    height: 15px;
    background-color: #dce1e4;
    border-radius: 10px;
    padding: 4px;
}

.skill_pers_bar {
    height: 100%;
    background: linear-gradient(to right, white, crimson);
    border-radius: 5px;
    width: var(--p);
}








/* contact page  */

.contact_page {
    display: flex;
    gap: 40px;
}

.cont_left {
    width: 45%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cont_left img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.cont_right {
    width: 55%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    padding: 30px;
}

.cont_right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont_right form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont_right form input, .cont_right form textarea {
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
}


.cont_right form button {
    border: none;
    width: 100%;
    height: 60px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all .3s;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.cont_right form button:hover {
    background: crimson;
    color: white;
    ;transform: translateY(-5px);
}



.resume_page, .project_page, .contact_page {
    display: none;
}










.copyright{
    padding-top: 40px;
}

.copyright p {
    text-align: center;
}
